<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto Racer | Loja de motos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Clientes</h1>
        <form method="POST" action="/cadastrarClientes">
            <div class="form-group">
                <label class="font-weight-bold" for="nome">Nome</label>
                <input class="form-control shadow-sm p-3 mb-5 bg-white rounded" type="text" name="nome" id="nome" th:value="${clientes.nome}">
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="endereco">endereco</label>
                <input class="form-control shadow-sm p-3 mb-5 bg-white rounded" type="text" name="endereco" id="endereco" th:value="${clientes.endereco}">
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="cpf">Cpf</label>
                <input class="form-control shadow-sm p-3 mb-5 bg-white rounded" type="number" name="cpf" id="cpf" th:value="${clientes.cpf}">
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="idade">idade</label>
                <input class="form-control shadow-sm p-3 mb-5 bg-white rounded" type="number" name="idade" id="idade" th:value="${clientes.idade}">
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="telefone">telefone</label>
                <input class="form-control shadow-sm p-3 mb-5 bg-white rounded" type="number" name="telefone" id="telefone" th:value="${clientes.telefone}">
            </div>

            <input type="hidden" name="id" th:value="${clientes.id}">
    
            <input type="submit" class="btn btn-primary" id="botao" value="Enviar">
        </form>

        <div class="mt-2">
            <a href="/">voltar</a>
            <a href="clientesIndex">Ver Clientes</a>
        </div>
        <hr class="my-3">
    </div>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>
</html> -->